body {
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  margin-right: 14vh;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: relative;
  background-color: #1764ff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  max-width: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-transform: capitalize;
  color: #333333;
  font-size: 36px;
  margin-bottom: 10px;
}

li {
  color: #555555;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.6;
}

p {
  color: #555555;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.image-container {
  position: relative;
  bottom: 0;
  right: 0;
}

.image-container img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#h11 {
  text-align: center;
}

#img1 {
  float: right;
}

#img2 {
  float: left;
}

#img3 {
  float: right;
}

#img4 {
  float: right;
}

.index-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.index-container ul {
  list-style: none;
  padding: 0;
}

.index-container li {
  margin-bottom: 5px;
}
